  /*
      yellow: #fcb538
      teal: #05aab7
      light green: #8ac23f
      red: #ee3c2a
    */


    body { font-family: arial, helvetica, sans-serif; }

    header {
    	margin: 20px 30px;
    	height: 150px;
    	background-repeat:no-repeat;
    	background-position:right 10px;
    }

    .clear{
      clear: both;
    }

    header .title { float: left; padding-top: 20px; margin-right: 50px ; }

    header .title .the { font-size: 20px; color: #fcb538; height: 20px; }

    header .title h1 {
    	height: 60px;
    	font-size: 60px;
    	color: #05aab7;
    	margin: 0; }

    header .subtitle { color: #727272; padding-top: 5px; font-size: 24px; }

    .red
    {
      color: red;
    }

    .sort_by {
    }

    .sort_by ul { padding: 0 0 20px 0; float: right; }

    .sort_by ul li {
    	list-style: none;
    	display: block;
    	float: left;
    	margin: 0;
    	padding: 0;
    }

    .sort_by ul li.title {
    	color: #8ac23f;
    	font-weight: bold;
}

    .sort_by ul li a {
    	padding: 10px 20px;
    	margin: 0;
    	text-decoration: none;
    	color: #727272;
    }

    .sort_by ul li a:hover { background-color: #e4f5f5; }

    .sort_by ul li a.selected { color: white; }

    .what {
    	color: #727272;
	    display: block;
    	width: 500px;
    	padding: 20px;
    	margin-bottom: 20px;
    	background-color: #f7f7f7;
      margin-top: -20px;
      height: 75px;
      position: absolute;
      left: 570px;
    }

    .what p { margin: 0 0 10px 0; }

    .what a {
      text-decoration: none;
      color: #05aab7;
      font-size: 12px;
      padding-bottom: 10px;
    }

    .what_head { font-size: 18px; font-weight: bold; color: #8ac23f;}

    .sorts
    {
      margin-bottom: 40px;
      margin: 0 20px 40px 20px;
      padding: 10px;
      width: 210px;
      float: left;
    }

    .sorts h4 { margin-top: 0; margin-bottom: 10px; color: #8ac23f }

    .sorts ul { padding: 0 0 20px 0; }

    .sorts ul li {
    	list-style: none;
    	margin: 0px;
    }

    .sorts ul li a {
    	display: block;
    	width: 190px;
    	padding: 10px 0 10px 20px;
    	margin: 0;
    	text-decoration: none;
    	color: #727272;
      background-color: #f7f7f7;
      border-top: 2px solid white;
    }

    .sorts ul li a:hover { background-color: #e4f5f5; }

    .sorts ul li a.selected { color: white; }

    .sorts ul li a.selected:hover { background-color: #e4f5f5 !important; color: #727272; }

    .instructions a { color: #05aab7; text-decoration: none;}

    .box
    {
      width: 90px;
      height: 90px;
      padding: 10px;
      margin: 5px;
      background-color: #fcb538;
      float: left;
      border-radius: 0 20px 0 0;
      overflow: hidden;
      position: relative;
    }

    .description
    {
      display: none;
      font-size: 12px;
      font-style: italic;
      background: #05aab7;
      color: white;
      padding: 0.5rem 1rem;
      min-width: 200px;
    }

    .box:hover{
      background-color: #ccc;
    }

    .box.c, .box.s, .box.a
    {
      width: 90px;
      height: 90px;
    }

    .box.cs, .box.ca, .box.sc, .box.sa, .box.ac, .box.as
    {
      width: 90px;
      height: 210px;
    }

    .box.csa
    {
      width: 210px;
      height: 210px;
    }

    .box.csa .abbreviation { font-size: 80px; height: 80px; }

    .NFP
    {
      background-color: #8ac23f;
    }

    .FP
    {
      background-color: #05aab7;
    }

    .abbreviation
    {
      font-size: 40px;
      height: 40px;
      padding-bottom: 5px;
      font-weight: bold;
      color: white;
    }

    .abbreviation p { margin-top: 15px; }

    .name { line-height: 13px; }

    .name a
    {
      font-size: 12px;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }

    .level {
    	font-size: 20px;
    	height: 10px;
    	font-weight: bold;
    	color:rgba(0,0,0,0.25);
    	float: right;
    }

    .threes {
    	padding: 5px;
    	position: absolute;
    	right: 0px;
    	bottom: 0px;
    	text-transform: uppercase;
    	font-size: 10px;

    }

    .type {
    	font-size: 10px;
    	display: block;
    	float: left;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    }

    .isotope-item {
      z-index: 2;
    }

    .selected { background-color: #05aab7 !important;  }

    .selected a { color: white; }
      
    .isotope-hidden.isotope-item {
      pointer-events: none;
      z-index: 1;
    }
      
    .isotope,
    .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
       -moz-transition-duration: 0.8s;
            transition-duration: 0.8s;
    }
      
    .isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
            transition-property: height, width;
    }
      
    .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
            transition-property:         transform, opacity;
    }

    .option-combo{
/*      width: 150px;
      float: left;*/
    }

    .visible {
      display: block;
    }